@page
@model ccse_cw1.Pages.Shared.BookSuccessModel
@{
    ViewData["Title"] = "Booking made Successfully";
}
<h1>@ViewData["Title"]</h1>

<p><span style="color: #008000;">Return to</span> <a href="/Index">Dashboard</a></p>

<p><a href="/BookManagement">Manage Booking</a></p>